<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>basket</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <ion-img [src]="'../../../../assets/products/'+product.id+'.jpg'"></ion-img>
      </ion-thumbnail>
      <ion-label>{{product.name}}</ion-label>
      <ion-icon (click)="removeFromBasket(product)" name="trash"></ion-icon>
    </ion-item>
    <ion-text color="dark" *ngIf="products.length === 0">
      <h3>No product added.</h3>
    </ion-text>
  </ion-list>
</ion-content>